
<div>
    <div>{{player.fullName}} - {{player.birth}}</div>
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>Year</th>
                <th>TeamName</th>
                <th>TeamId</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ph of playerHistories">
                <td>{{ph.year}}</td>
                <td>{{ph.teamName}}</td>
                <td>{{ph.teamId}}</td>
            </tr>
        </tbody>
    </table>
</div>
